html,
body {
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-height: calc(100vh - 20px);
  flex-flow: column;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: medium;
}

#about-button {
  text-decoration: none;
  color: inherit;
}

#controls {
  margin-bottom: 20px;
}

h1,
h2,
h3 {
  font-family: monospace, monospace;
}

.controls-block {
  display: block;
  margin-top: 7px;
}

h1 > img {
  vertical-align: middle;
}

p {
  margin-top: 0;
}

.button > button {
  display: none;
}

.pinned-right {
  position: absolute;
  top: 10px;
  right: 10px;
}

.button {
  vertical-align: middle;
  text-decoration: none;
  font-size: medium;
  background-color: #eeeeee;
  color: #1f1f1f;
  padding: 3px 6px;
  border-radius: 3px;
  user-select: none;
  border: 1px solid #1f1f1f;
}

code,
pre {
  font-size: large;
  background-color: #eeeeee;
  padding: 2px 6px;
  border-radius: 3px;
}

input[type="text"] {
  /* vertical-align: middle; */
  font-size: small;
  padding: 5px 6px;
  margin-top: 2px;
  border-radius: 3px;
  border: 1px solid #1f1f1f;
  font-family: monospace, monospace;
}

.button:hover {
  background-color: #d9d9d9;
  cursor: pointer;
}

.controls-block:has(.button > button[disabled]) {
  .handle-name {
    opacity: 0.5;
  }
}

.button:has(> button[disabled]) {
  background-color: #757575;
  color: #303030;
  cursor: default;
}

.handle-name,
.error-span {
  margin-left: 10px;
  font-family: monospace, monospace;
  font-size: small;
}

.terminal-panel > span[data-kind="error"] {
  color: rgb(255, 104, 104);
}

.terminal-panel > span[data-kind="warning"] {
  color: rgb(255, 202, 104);
}

.terminal-panel > span[data-kind="success"] {
  color: rgb(152, 255, 104);
}

*[data-kind="success"] {
  color: green;
}

*[data-kind="error"] {
  color: red;
  font-weight: bold;
}

#terminal {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-y: auto;
}

.terminal-panel {
  white-space: pre-wrap;
  background-color: #1f1f1f;
  color: white;
  border-radius: 2px;
  color-scheme: dark;
  overflow-y: auto;
  padding: 10px;
  word-wrap: break-word;
  overflow-x: auto;
}

#stdout {
  width: 70%;
}

#mypy-output {
  flex: 1 1 0px;
}

#stdout-resize {
  width: 8px;
  cursor: col-resize;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #333333;
    color: white;
  }

  .button {
    background-color: #1f1f1f;
    color: #eeeeee;
    border: none;
  }

  .button:hover {
    background-color: #292929;
  }

  input[type="text"] {
    border: none;
    background-color: #1f1f1f;
    color: #eeeeee;
  }

  a {
    color: #7568ff;
  }

  a:visited {
    color: #f98fff;
  }

  .button:has(> button[disabled]) {
    background-color: #757575;
    color: #303030;
  }

  *[data-kind="success"] {
    color: rgb(80, 255, 80);
  }

  *[data-kind="error"] {
    color: rgb(255, 104, 104);
    font-weight: bold;
  }

  code,
  pre {
    background-color: #1f1f1f;
  }
}
