@import "tailwindcss";

* {
  /*
    Disable double-tap zoom on mobile devices
  */
  touch-action: manipulation;
}

.bg-secondary {
  @apply bg-stone-200 dark:bg-stone-800;
}

.bg-tertiary {
  @apply bg-stone-300 dark:bg-stone-700;
}

.focusable {
  @apply focus:outline-none focus:ring-stone-400 dark:focus:ring-stone-600 focus:ring-3;
}

.hoverable {
  @apply hover:bg-stone-200 dark:hover:bg-stone-800;
}

html,
body {
  @apply bg-stone-50 text-stone-900 dark:bg-stone-900 dark:text-stone-50 m-0 p-0 h-full;
}

#app {
  @apply p-2 max-h-screen flex flex-col;
}

#controls {
  @apply mb-4 mt-2;
}

a {
  @apply underline text-blue-600 dark:text-blue-400;
}

a:visited {
  @apply text-violet-600 dark:text-violet-400;
}

h1,
h2,
h3,
h4 {
  @apply font-bold font-mono;
}

h1 {
  @apply text-4xl my-4;
}

h2 {
  @apply text-3xl;
}

h3,
h4 {
  @apply text-2xl;
}

.controls-block {
  @apply my-1.5;
}

.controls-block > button,
label > input[type="checkbox"] {
  @apply mr-1;
}

input[type="checkbox"] {
  @apply bg-stone-50 accent-violet-500;
}

h1 > img {
  @apply align-middle inline-block;
}

.pinned-right {
  @apply absolute right-4 top-4;
}

label {
  @apply flex flex-row items-center;
}

code,
pre {
  @apply px-6 py-2 rounded-md;
}

code {
  @apply whitespace-nowrap;
}

input[type="text"] {
  max-width: calc(100vw - var(--spacing) * 6);
  @apply font-mono rounded-md text-sm px-2 py-1;
}

.subtitle {
  @apply text-2xl;
}

.handle-name,
.error-span {
  @apply text-sm font-mono ml-2;
}

*[data-kind="warning"] {
  @apply text-yellow-800 dark:text-yellow-400;
}

*[data-kind="success"] {
  @apply text-lime-800 dark:text-lime-400;
}

*[data-kind="error"] {
  @apply text-red-800 dark:text-red-400;
}

#terminal {
  @apply flex flex-row h-screen overflow-y-auto;
}

.terminal-panel {
  @apply p-3 overflow-auto break-words whitespace-pre-wrap;
}

#stdout {
  @apply w-7/10;
}

#mypy-output {
  @apply flex-1;
}

#stdout-resize {
  @apply w-3 cursor-col-resize;
}

button {
  @apply text-center cursor-pointer rounded-lg px-2 py-1;
}

button:disabled {
  @apply opacity-50 cursor-not-allowed;
}

#about-dialog {
  pre,
  code {
    @apply bg-stone-200 dark:bg-stone-800 p-0.5;
  }

  pre {
    @apply overflow-x-auto px-2;
  }

  p {
    @apply my-5;
  }

  min-width: calc(100vw - var(--spacing) * 12);
  max-width: calc(100vw - var(--spacing) * 12);
  min-height: calc(100vh - var(--spacing) * 12);
  max-height: calc(100vh - var(--spacing) * 12);
  color-scheme: light dark;
  @apply overflow-y-auto p-4 z-100 top-6 left-6 right-6 bottom-6 bg-stone-50 dark:bg-stone-900 text-stone-900 dark:text-stone-50 rounded-md;
}

#about-dialog::backdrop {
  @apply bg-stone-900/70 dark:bg-stone-500/70;
}

#error-block {
  @apply m-2;

  pre,
  code {
    @apply bg-stone-200 dark:bg-stone-800 p-0.5;
  }

  pre {
    @apply overflow-x-auto px-2;
  }

  p {
    @apply my-5;
  }
}
